body {
  background-image: url(Stupa_Borobudur.jpg);
  background-size: cover;
  background-attachment: fixed;
}

div {
  width: 700px;
  height: 500px;
  border: 2px solid red;
  margin: 20px auto;
  text-align: center;
  background-image: url("avocado.jpg");
  color: blue;
  text-align: justify;
}
